.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart h1 {
  text-align: center;
}

.cartItem {
  width: 700px;
  height: 250px;
  display: flex;
  padding: 55px;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 30px;
}

.cartItem img {
  width: 200px;
}

.cartItem .description {
  width: 100%;
  font-size: 30px;
}

.countHandler {
  display: flex;
  align-items: center;
  gap: 10px;
}

.countHandler {
  display: flex;
  align-items: center;
  gap: 10px;
}

.countHandler {
  display: flex;
  align-items: center;
  gap: 10px;
}

.countHandler input {
  width: 50px;
  height: 24px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: rgb(19, 19, 19);
  border: 2px solid rgb(255, 115, 0);
  border-radius: 5px;
  padding: 5px;
  outline: none;
  transition: background-color 0.3s, border-color 0.3s;
}

.checkout p {
  font-size: 22px;
}

.countHandler input:focus {
  background-color: rgb(255, 115, 0);
  border-color: rgb(255, 115, 0);
}

.countHandler button {
  background-color: rgb(255, 255, 255);
  color: rgb(19, 19, 19);
  border: none;
  max-width: 100px;
  width: 100%;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 17px;
  cursor: pointer;
  border: 1px solid rgb(255, 115, 0);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.countHandler button:hover {
  background-color: white;
}

.countHandler button:active {
  background-color: rgb(255, 115, 0);
  color: white;
}

.checkout {
  text-align: center;
}

.checkout button {
  width: 200px;
  height: 50px;
  background-color: rgb(255, 115, 0);
  ;
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  border: 1px solid rgb(255, 115, 0);
  cursor: pointer;
  font-size: 15px;

  &:hover {
    color: rgb(255, 115, 0);
    background-color: white;
    transition: 0.5s all;

  }
}